{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="font-body text-body text-content" data-template="base.twig">
		<main>
			{% block content %}
				Sorry, no content
			{% endblock %}
		</main>

		{% block footer %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
