{% extends "base.twig" %}

{% block content %}
    {# Hero #}
    {% include "./components/hero.twig" %}

    {# Popular accessory listing #}
    <section class="px-5 lg:px-0 md:max-w-[1009px] mx-auto mb-[61px] sm:mb-[70px]">
        <h2 class="text-h2 text-center mb-14">Our most popular accessories</h2>
        {% if accessories %}
            <div class="space-y-[35px]">
                {% for accessory in accessories %}
                    {% include "./components/accessory-card.twig" %}
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}
