# WP Installation
/wp-admin
/wp-includes
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

# WP Installation - Content
/wp-content/languages
/wp-content/plugins
/wp-content/upgrade
/wp-content/uploads

# WP Installation - Theme
/wp-content/themes/swytch/bin
/wp-content/themes/swytch/dist
/wp-content/themes/swytch/vendor
/wp-content/themes/swytch/composer.lock

# General
/vendor
/node_modules
.DS_Store
.env
.htaccess
package-lock.json