<div class="relative mb-[61px] sm:mb-[70px]">
  <div class="w-full h-[580px] sm:hidden">
      <img src="{{ siteUrlTheme }}/src/assets/images/swytch-mobile.png" class="h-full w-full object-cover" />
  </div>
  <div class="w-full h-[576px] hidden sm:block">
      <img src="{{ siteUrlTheme }}/src/assets/images/swytch-desktop.jpg" class="h-full w-full object-cover" />
  </div>
  <div class="absolute left-0 right-0 bottom-0 text-white text-center px-12 pb-16 sm:p-0 sm:bottom-auto sm:centered sm:text-left">
    <div class="sm:max-w-[1122px] mx-auto">
        <div class="sm:w-[345px] sm:pl-12 xl:pl-0">
            <h1 class="text-h1 mb-3">Accessories</h1>
            <p>
                Customise your Swytch Bike from our range of extras and add-ons. Make extra savings by selecting one of our bundles.
            </p>
        </div>
    </div>
  </div>
</div>