@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.centered {
		top: 50%;
		transform: translate(0%, -50%);
	}
}

.icon {
	@apply h-10 w-10 !flex items-center justify-center rounded-full text-h3 bg-content border-content border-2 text-grey-light cursor-pointer;

	transition: .3s all ease-in-out;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + .icon, .icon:hover, .icon:focus {
	@apply bg-grey-light text-content;

	transform: scale(1.1);
}